<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- typekit includes -->
    <script type="text/javascript" src="//use.typekit.net/zul5dlp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="/assets/packages/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/packages/prismjs/prism-okaidia.css">
    <link rel="stylesheet" type="text/css" href="/assets/packages/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />

    <script data-main="/assets/js/main" src="/assets/packages/requirejs/require.js"></script>

    {{ghost_head}}
</head>

<body class="{{body_class}}">

    {{! The big featured header on the homepage, with the site logo and description }}
    <header class="site-header" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        <div class="site-header-content row">
            <div class="site-header-left col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-4 col-lg-6">
                <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
                <h2 class="blog-description">{{@blog.description}}</h2>
            </div>

            <div class="site-header-right col-md-8 col-lg-6">
                <ul class="site-header-nav">
                    <li><a href="{{@blog.url}}">Home</a></li>
                    <li><a data-collapsible="about" href="#">About</a></li>
                    <li><a data-collapsible="contact" href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="collapsibles">

        <div class="collapsible about" id="about">
            <header class="collapsible-header">
                <h1 class="post-title">About</h1>
                <i class="fa fa-times-circle collapsible-close"></i>
            </header>

            <section class="collapsible-body">
                <p>My name is Chris, and I live and work in Nashville, Tennessee. I'm currently working as the web developer for Hammock, Inc.</p>

                <p>I graduated from Vanderbilt University in May of 2013 with degrees in philosophy and math, and somehow managed to get a job using neither of them. Web design began as a hobby to keep me busy during the summer of 2011, and turned into a full time occupation that I love.</p>

                <p>I consider myself a developer with a bit of design sense thrown in (which means I spend most of my time coding, but know my way around Photoshop). Don't hesitate to <a data-collapsible="contact" href="#">get in touch</a> if you're looking for a well-done site.</p>

                <p>Live sites that I've built include:</p>
                <ul class="work-list">
                    <li><a href="http://hammock.com">Hammock.com</a></li>
                    <li><a href="http://smallbusiness.com">SmallBusiness.com</a></li>
                    <li><a href="http://christopherhoniball.com">ChristopherHoniball.com</a> (I do some photography, too.)</li>
                </ul>
            </section>
        </div>

        <div class="collapsible contact" id="contact">
            <header class="collapsible-header">
                <h1 class="post-title">Contact</h1>
                <i class="fa fa-times-circle collapsible-close"></i></a>
            </header>

            <section class="collapsible-body">
                <ul class="social-media">
                    <li><a target="_blank" href="http://twitter.com/cphoniball"><i class="fa fa-2x fa-twitter"></i></a></li>
                    <li><a target="_blank" href="http://www.linkedin.com/profile/view?id=92290906"><i class="fa fa-2x fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://github.com/cphoniball"><i class="fa fa-2x fa-github"></i></a></li>
                </ul>
                <ul class="contact-list">
                    <li>Email: <a href="mailto:chris.p.honiball@gmail.com">chris.p.honiball@gmail.com</a></li>
                    <li>Cell: 239.249.0549</li>
                </ul>
            </section>
        </div>

    </div>

    {{{body}}}

    <footer class="site-footer">
        <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
        <div class="inner">
             <section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</section>
             <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
        </div>
    </footer>

    {{ghost_foot}}
    <script type="text/javascript" src="/assets/js/main.js"></script>
</body>
</html>