{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        {{! Everything below outputs content of the the post which has been published }}

        <div class="post-date-container"><span class="post-date post-meta cf"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="M|D|YY"}}</time></span></div>
        <h1 class="post-title cf">{{{title}}}</h1>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

            {{#if author}}
                <section class="author">
                    <h4 class="author-name">Written by {{author.name}}</h4>
                    <p class="author-bio">{{author.bio}}</p>
                </section>
            {{/if}}

            <section class="share">
                <h4>Share this post</h4>
                <ul class="button-list social-buttons" data-url="http://smallbusiness.com/">
                    <li><a data-site="facebook" class="social-button social-facebook">
                        <i class="fa fa-lg fa-facebook"></i>
                    </a></li>
                    <li><a data-site="google-plus" class="social-button social-google-plus">
                        <i class="fa fa-lg fa-google-plus"></i>
                    </a></li>
                    <li><a data-site="twitter" class="social-button social-twitter">
                        <i class="fa fa-lg fa-twitter"></i>
                    </a></li>
                </ul>
            </section>

        </footer>

        {{/post}}

    </article>

</main>